h1 {
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

body {
    background-color: black;
}

.image {
    width: 100%;
    border: 5px solid white;
}

p {
    color: white;
    text-align: center;
}

.meme {
    width:50%;
    margin-left:25%;
    margin-top: 100px;

}